@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --primary-color: #140f2e;
  --secondary-color: #30246b;
  --font-color: rgb(0, 66, 255);
  --shadow: rgb(26, 26, 26);
  --font: "Quicksand", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  color: var(--font-color);
  font-family: var(--font);
}

.photo-card {
  display: flex;
  gap: 2rem;
  width: 60%;
  margin: auto;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 5px 5px 5px 3px var(--shadow);
  margin-bottom: 5rem;
}
.picture-of-me {
  height: 250px;
  border-radius: 100%;
  box-shadow: 5px 5px 5px 3px var(--primary-color);
}
.introduction-p::before {
  content: "";
  display: block;
  width: 3px;
  height: 100%;
  background-color: blue;
  margin: auto;
}
.introduction-p {
  width: 60%;
  font-size: 1.2rem;
  line-height: 2rem;
}
a {
  color: var(--font-color);
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .picture-of-me {
    height: 125px;
  }
  .introduction-p {
    width: 100%;
    font-size: 1rem;
    line-height: 1rem;
  }
  .photo-card {
    flex-direction: column;
  }
}
