.project-details-screen {
  width: 100%;
  border-radius: 20px;
}
.carrousel {
  margin: auto;
  width: 70%;
}
.project-details-h1 {
  margin: auto;
}
.project-details-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.project-details-description {
  margin-bottom: 5rem;
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .project-details-screen {
    width: 100%;
  }
  .carrousel {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .project-details-screen {
    width: 100%;
  }
  .carrousel {
    width: 80%;
  }
}
